.tittle{
    color:black;
    text-align: center;
    background-color: cadetblueS;
}
.navbar{
background-color:rgb(0, 255, 213);

}
.navheader {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-underline-position: unset;
    text-align: center;
}
.intro{
    color:rgb(17, 17, 16);
    text-align: center;
    background-image: url(../images/lukas-bee-T-SkHm-18qQ-unsplash.jpg);
    background-size:cover;
    opacity: 100%;
    padding: 50px;
    border-radius: 20px;
font-weight: bold;
}
.body{
     background-color: cadetblue;
}
.menu{
    text-align: center;
}
.ptype{
    text-align: center;
}
.order{
    background-image: url(../images/dilyara-garifullina-5fn1LeWzhX4-unsplash.jpg);
    background-size: cover;
    opacity: 100%;
    padding: 50px;
    border-radius: 20px;
    font-weight: bold;
    color:black;
}

.right{
    float:left;
    background-color: rgb(255, 255, 8);
}
.btn{
    float: left;
    background-color: rgb(228, 140, 9);
}
.right2{
    text-align: center;
    background-image: url(../images/sheri-silver-A4EtgLN1_Fw-unsplash.jpg);
    background-size: cover;
}
